@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

:root{
   --main-color:#e00909;
   --black: #000;
   --btn-color:#ece7e7;
   --btn-hover:#1a1919;
   --sub-color:#fdf7f7;
   --white:#f0e9b0;
   --border:.1rem solid rgba(0, 0, 0, 0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    
} 

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

header h1{
    color: var(--main-color);
    font-size: 34px;
}

nav ul{
    display: flex;
    list-style: none; 
    padding-right: 25px;
    
}

nav ul li{
    margin: 0 20px;
    
}

nav ul li a{
    text-decoration: none;
    color: var(--main-color);
    font-size: 18px;
    transition: color 0.3s ease;
    padding: 5px;
}

nav ul li a:hover{
    color: var(--btn-color);
    font-weight: bold;
}

nav button{
    /* background-color: var(--main-color); */
    background-color: transparent;
    color: var(--main-color);
    padding: 0 1.5rem;
    font-size: 16px;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    margin: 6px 0;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav button:hover{
    background-color: var(--btn-color);
    color: var(--main-color);
}

#home{
    background-color: #d1d1c2;
    text-align: center;
}

.banner{
    display: flex;
    background-image: url("willian-justen-de-vasconcellos-4uPDyJ8AAS4-unsplash.jpg");
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    
    text-align: center;
}



#services{
    background-color: #d88c35;
    padding: 50px 100px;
    text-align: center;
}

#about{
    background-color: #8b1111;
    padding: 50px 100px;
    text-align: center;
    color: antiquewhite;
}

#portfolio{
    background-color: #b6b186ef;
    padding: 50px 100px;
    text-align: center;
    color: antiquewhite;
}

#consultation{
    background-color: #01411aef;
    padding: 50px 100px;
    text-align: center;
    color: antiquewhite;
}

#contact{
    background-color: #01411aef;
    padding: 50px 100px;
    text-align: center;
    color: antiquewhite;
}

footer{
    background-color: #02251e;
    color: antiquewhite;
    text-align: center;
    padding: 20px 0;
}